<div class="modal fade" id="modalCopy" tabindex="-1" role="dialog" aria-labelledby="modalCopyLabel">
  <div class="modal-dialog" role="document">
	<div class="modal-content">
	  <div class="modal-header">
		<h4 class="modal-title" id="modalCopyLabel">Copy by increment</h4>
	  </div>
	  <div class="modal-body">
		<form class="form-horizontal">
			<fieldset>
				<legend>Copy</legend>
				<div class="form-group">
					<label class="col-lg-4 control-label">Total copy:</label>
					<div class="col-lg-8 inputH">
						<input type="number" name="copyCount" class="form-control">
					</div>
				</div>
				<div class="form-group">
					<label class="col-lg-4 control-label">Total per row:</label>
					<div class="col-lg-8 inputH">
						<input type="number" name="copyRow" class="form-control">
					</div>
				</div>
				<div class="form-group">
					<label class="col-lg-4 control-label">Distant between elements:</label>
					<div class="col-lg-8 inputH">
						<input type="number" name="copyDistant" class="form-control">
					</div>
				</div>
			</fieldset>
		</form>
	  </div>
	  <div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		<button type="button" class="btn btn-primary" data-dismiss="modal" id="modalCopyBtn">Create</button>
	  </div>
	</div>
  </div>
</div>
