<div class="modal fade" id="modalNodesAttr" tabindex="-1" role="dialog" aria-labelledby="modalNodesAttrLabel">
  <div class="modal-dialog" role="document">
	<div class="modal-content">
	  <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		<h4 class="modal-title" id="modalNodesAttrLabel">Nodes Properties</h4>
	  </div>
	  <div class="modal-body">
		  <form class="form-horizontal">
		  <fieldset>
			<legend>Restraint</legend>
			<div class="form-group">
				<label class="col-lg-4 control-label">x:</label>
				<div class="col-lg-8 inputH">
					<input type="number" name="restraintX" class="form-control"/>
				</div>
			</div>
			<div class="form-group">
				<label class="col-lg-4 control-label">y:</label>
				<div class="col-lg-8 inputH">
					<input type="number" name="restraintY" class="form-control"/>
				</div>
			</div>
			<div class="form-group">
				<label class="col-lg-4 control-label">z (rotation):</label>
				<div class="col-lg-8 inputH">
					<input type="number" name="restraintZrotation" class="form-control"/>
				</div>
			</div>
			<div class="form-group">
				<label class="col-lg-4 control-label">Temparature, Celcius:</label>
				<div class="col-lg-8 inputH">
					<input type="number" name="temparature" class="form-control"/>
				</div>
			</div>
			<div class="form-group">
				<label class="col-lg-4 control-label">Load P, Newtons:</label>
				<div class="col-lg-8 inputH">
					<input type="number" name="loadP" class="form-control"/>
				</div>
			</div>
			<div class="form-group">
				<label class="col-lg-4 control-label">Load Q, Newtons:</label>
				<div class="col-lg-8 inputH">
					<input type="number" name="loadQ" class="form-control"/>
				</div>
			</div>
		  </fieldset>
		  </form>
	  </div>
	  <div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		<button type="button" class="btn btn-primary" data-dismiss="modal" id="modalNodesAttrBtn">Save changes</button>
	  </div>
	</div>
  </div>
</div>