<div class="modal fade" id="modalSolverSpoly" tabindex="-1" role="dialog" aria-labelledby="modalSolverSpolyLabel">
  <div class="modal-dialog" role="document">
	<div class="modal-content">
	  <div class="modal-header">
		<h4 class="modal-title" id="modalSolverSpolyLabel">Solver SPOLY</h4>
	  </div>
	  <div class="modal-body">
		<form class="form-horizontal">
			<fieldset class="col-lg-6">
				<legend>Solver Parameters</legend>
				<div class="form-group">
					<label class="col-lg-4 control-label">Gravity (<span>g</span>) :</label>
					<div class="col-lg-8">
						<input type="text" name="grav" class="form-control">
					</div>
				</div>
				<div class="form-group">
					<label class="col-lg-4 control-label">Angle of inclination of gravity (<span>&#223;</span>) :</label>
					<div class="col-lg-8">
						<input type="text" name="aoiog" class="form-control">
					</div>
				</div>
				<div class="form-group">
					<label class="col-lg-4 control-label">Verlet distance (<span>&#945;</span>) :</label>
					<div class="col-lg-8">
						<input type="text" name="vd" class="form-control">
					</div>
				</div>
				<div class="form-group">
					<label class="col-lg-4 control-label">Time step (<span>&#916;t</span>) :</label>
					<div class="col-lg-8">
						<input type="text" name="ts" class="form-control">
					</div>
				</div>
				<div class="form-group">
					<label class="col-lg-4 control-label">Contact Model (<span>cm</span>) :</label>
					<div class="col-lg-8">
						<input type="text" name="cm" class="form-control">
					</div>
				</div>
			</fieldset>
			<fieldset class="col-lg-6">
				<legend>Solver Simulation</legend>
				<div class="form-group">
					<label class="col-lg-4 control-label">Simulation Name (no space):</label>
					<div class="col-lg-8">
						<input type="text" name="simulationName" class="form-control">
					</div>
				</div>
				<div class="form-group">
					<label class="col-lg-4 control-label">Graphical Output:</label>
					<div class="col-lg-8">
						<select name="graphicalOutput" class="form-control">
							<option value="matlab">matlab</option>
							<option value="gnuplot">gnuplot</option>
							<option value="none">none</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label class="col-lg-4 control-label">Frame Per Second:</label>
					<div class="col-lg-8">
						<input type="number" name="framePerSecond" class="form-control" min="0" max="256" step="1">
					</div>
				</div>
				<div class="form-group">
					<label class="col-lg-4 control-label">Data Per Second:</label>
					<div class="col-lg-8">
						<input type="number" name="dataPerSecond" class="form-control" min="0" max="256" step="1">
					</div>
				</div>
				<div class="form-group">
					<label class="col-lg-4 control-label">Simulation Time:</label>
					<div class="col-lg-8">
						<input type="number" name="simulationTime" class="form-control" min="0" max="256" step="1">
					</div>
				</div>
				<div class="form-group">
					<label class="col-lg-4 control-label">Domain Length:</label>
					<div class="col-lg-8">
						<input type="number" name="domainLength" class="form-control" min="0" step="1">
					</div>
				</div>
				<div class="form-group">
					<label class="col-lg-4 control-label">Left Limit:</label>
					<div class="col-lg-8">
						<input type="number" name="leftLimit" class="form-control" min="0" step="1">
					</div>
				</div>
				<div class="form-group">
					<label class="col-lg-4 control-label">Right Limit:</label>
					<div class="col-lg-8">
						<input type="number" name="rightLimit" class="form-control" min="0" step="1">
					</div>
				</div>
				<div class="form-group">
					<label class="col-lg-4 control-label">Bottom Limit:</label>
					<div class="col-lg-8">
						<input type="number" name="bottomLimit" class="form-control" min="0" step="1">
					</div>
				</div>
				<div class="form-group">
					<label class="col-lg-4 control-label">Top Limit:</label>
					<div class="col-lg-8">
						<input type="number" name="topLimit" class="form-control" min="0" step="1">
					</div>
				</div>
			</fieldset>
		</form>
	  </div>
	  <div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		<button type="button" class="btn btn-primary" data-dismiss="modal" id="modalSolverSpolyBtn">Set</button>
	  </div>
	</div>
  </div>
</div>
