<div class="modal fade" id="modalSolver" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
	<div class="modal-content">
	  <div class="modal-header">
		<h4 class="modal-title" id="modalSolverLabel">Solver <span class="solverType"></span></h4>
	  </div>
	  <div class="modal-body">
		<h3 class="alert text-success text-center">Solver has been set as <span class="solverType"></span>!</h3>
	  </div>
	  <div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	  </div>
	</div>
  </div>
</div>