<div class="modal fade" id="modalSubdivide" tabindex="-1" role="dialog" aria-labelledby="modalSubdivideLabel">
  <div class="modal-dialog" role="document">
	<div class="modal-content">
	  <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		<h4 class="modal-title" id="modalSubdivideLabel">Subdivide</h4>
	  </div>
	  <div class="modal-body">
	  <form class="form-horizontal">
		<div class="form-group">
			<label class="col-lg-4 control-label">Total Section at X:</label>
			<div class="col-lg-8 inputH">
				<input type="number" name="subDivideX" class="form-control" min="1" max="16"/>
			</div>
		</div>
		<div class="form-group">
			<label class="col-lg-4 control-label">Total Section at Y:</label>
			<div class="col-lg-8 inputH">
				<input type="number" name="subDivideY" class="form-control" min="1" max="16"/>
			</div>
		</div>
		<div class="form-group">
			<label class="col-lg-4 control-label">Type:</label>
			<div class="col-lg-8 inputH">
				<select name="subDivideType" class="form-control"/>
				  <option value="tri3" selected>Tri 3</option>
				  <option value="tri6">Tri 6</option>
				  <option value="quad4">Quad 4</option>
				  <option value="quad8">Quad 8</option>
				  <option value="quad9">Quad 9</option>
				</select>
			</div>
		</div>
	  </form>
	  </div>
	  <div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		<button type="button" class="btn btn-primary" data-dismiss="modal" id="modalSubdivideBtn">Save changes</button>
	  </div>
	</div>
  </div>
</div>
