<div class="modal fade" id="modalSaveProject" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
	<div class="modal-content">
	  <div class="modal-header">
		<h4 class="modal-title" id="modalSaveProjectLabel">Save Project</h4>
	  </div>
	  <div class="modal-body">
		<form class="form-horizontal"  enctype="multipart/form-data">
			<div class="form-group">
				<label class="col-lg-4 control-label">Project Name</label>
				<div class="col-lg-5">
					<input type="text" name="projectName" class="form-control"/>
				</div>
			</div>
			<!--div class="form-group">
				<label class="col-lg-4 control-label">Save to</label>
				<div class="col-lg-8">
					<div class="radio">
						<label>
							<input type="radio" name="saveTo" value="onlineServer"/> Online Server &nbsp;&nbsp;&nbsp;
						</label>
						<label>
							<input type="radio" name="saveTo" value="localPC"/> Local PC
						</label>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-lg-4 control-label">Privacy</label>
				<div class="col-lg-8">
					<div class="radio">
						<label>
							<input type="radio" name="privacy" value="public"/> Public &nbsp;&nbsp;&nbsp;
						</label>
						<label>
							<input type="radio" name="privacy" value="private"/> Private
						</label>
					</div>
				</div>
			</div-->
		</form>
	  </div>
	  <div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		<button type="button" class="btn btn-primary" id="modalSaveProjectBtn">Save</button>
	  </div>
	</div>
  </div>
</div>