<br/>
<br/>
<div class="frontpage">
<div class="prepsBox thumbnail col-lg-offset-2 col-lg-8">
<form class="form-horizontal" action="/forgotPassword" method="post">
  <fieldset>
    <legend>Forgot Password</legend>
    <div class="form-group">
      <label class="col-lg-3 control-label">Registered Email</label>
      <div class="col-lg-9">
		<input type="hidden" name="isPost" value="true">
        <input type="text" class="form-control" name="email" placeholder="Registered Email">
		<span class="help-block">A reset password URL will be sent to this email.</span>
      </div>
    </div>
	<div class="form-group">
      <div class="col-lg-9 col-lg-offset-3">
        <button type="reset" class="btn btn-default">Cancel</button>
        <button type="submit" class="btn btn-primary">Submit</button>
        <br/><br/><a href="/" class="text-warning">Back to Login page</a>
      </div>
    </div>
  </fieldset>
</form>
</div>
</div>