<br/>
<br/>
<div class="frontpage">
<div class="thumbnail col-lg-offset-2 col-lg-8 well">
<form class="form-horizontal" action="/resetPassword" method="post">
  <fieldset>
    <legend>Reset Password</legend>
    <div class="form-group">
      <label class="col-lg-3 control-label">New Password</label>
      <div class="col-lg-9">
        <input type="password" class="form-control" name="password" placeholder="Password">
        <input type="hidden" name="forgotPass" value="{{@forgotPass}}">
        <input type="hidden" name="isPost" value="true">
      </div>
    </div>
    <div class="form-group">
      <label class="col-lg-3 control-label">Confirm Password</label>
      <div class="col-lg-9">
        <input type="password" class="form-control" name="confirmPassword" placeholder="Confirm Password">
      </div>
    </div>
	<div class="form-group">
      <div class="col-lg-9 col-lg-offset-3">
        <button type="reset" class="btn btn-default">Cancel</button>
        <button type="submit" class="btn btn-primary">Submit</button>
        <br/><br/><a href="/login" class="text-info"><span class="glyphicon glyphicon-log-in"></span> Login</a>
        <br/><br/><a href="/" class="text-warning"><span class="glyphicon glyphicon-user"></span> Back to main page</a>
      </div>
    </div>
  </fieldset>
</form>
</div>
</div>